@keyframes moveLine {
  from {
    transform: translate(0, 0);
    opacity: 0.35;
  }
  to {
    transform: translate(0, 15px);
    opacity: 1;
  }
}
@keyframes moveTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1vw);
  }
}
@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1vw);
  }
}
@keyframes moveBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1vw);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1vw);
  }
}

@keyframes pageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes arrowFloat {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateX(-50%) translateY(1vw);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 0.5;
  }
}

@keyframes autoSlider {
  0% {
    transform: translateX(0);
  }
  12% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(-55vw);
  }
  28% {
    transform: translateX(-55vw);
  }
  32% {
    transform: translateX(-110vw);
  }
  44% {
    transform: translateX(-110vw);
  }
  48% {
    transform: translateX(-165vw);
  }
  60% {
    transform: translateX(-165vw);
  }
  64% {
    transform: translateX(-220vw);
  }
  76% {
    transform: translateX(-220vw);
  }
  80% {
    transform: translateX(-275vw);
  }
  92% {
    transform: translateX(-275vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes targetSlider {
  0%,
  25% {
    transform: translateX(0);
  }
  33%,
  58% {
    transform: translateX(-55vw);
  }
  66%,
  91% {
    transform: translateX(-110vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flipCard {
  0% {
    transform: rotateX(0);
  }
  40% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(180deg);
  }
  90% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes squarePulse {
  0%,
  100% {
    transform: scaleX(1);
  }
  45%,
  55% {
    transform: scaleX(0);
  }
}
@keyframes firstImage {
  2%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
@keyframes secondImage {
  2%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
@keyframes courseAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chipAppear {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }

  30% {
    opacity: 1;
    transform: translateY(-0.5vw) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-2vw) scale(1);
  }
}
