/* @font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayBold.ttf) format("truetype");
  font-weight: bold;
} */
@font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayRegular.ttf) format("truetype");
  font-weight: regular;
}
