<<<<<<< HEAD
@font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayBold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayRegular.ttf) format("truetype");
  font-weight: regular;
}
=======
@font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayBold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "SyntheticaGrotesk";
  src: url(../fonts/SyntheticaGrotesk-DisplayRegular.ttf) format("truetype");
  font-weight: regular;
}
>>>>>>> 5ac43493634acee09e75b1eb845c9dc06dfa4528
